[submodule "ext/pico-sdk"]
	path = ext/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "ext/FreeRTOS-Kernel"]
	path = ext/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "ext/littlefs"]
	path = ext/littlefs
	url = git@github.com:littlefs-project/littlefs.git
[submodule "ext/WsprEncoded"]
	path = ext/WsprEncoded
	url = git@github.com:traquito/WsprEncoded.git
[submodule "ext/jerryscript"]
	path = ext/jerryscript
	url = git@github.com:jerryscript-project/jerryscript.git
[submodule "ext/Adafruit_Sensor"]
	path = ext/Adafruit_Sensor
	url = git@github.com:adafruit/Adafruit_Sensor.git
